{% for key, category in categories %}
    <div class="home-category-box" data-action="{{ url('show_ajax_category', {'id':category.id}) }}">
        <div class="box-wrapper">
            {% include 'MKAppBundle:category/parts:category-box.html.twig' %}
        </div>
    </div>
{% endfor %}



