{% extends 'MKAppBundle::content.html.twig' %}

{% block content %}
    <div class="row archive-task-list bg-white">
        <div class="col-sm-12">
            <p>
                {{ 'views.archive_page'|trans }}
            </p>

            <div class="row">
                <div class="col-sm-12">
                    <div data-action="{{ url('all_archive_tasks') }}" class="row archive-task-list-rows"></div>
                </div>
            </div>

        </div>
    </div>

    <!-- Modals -->
    {% include 'MKAppBundle:_modals:new-task.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/mkapp/assets/js/tasks.js') }}"></script>
{% endblock %}