<div id="addNewTask" class="modal fade modal-form" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title h4-add">Dodaj nowe zadanie [<span></span>]</h4>
                <h4 style="display: none;" class="modal-title h4-edit">Edytuj zadanie [<span></span>]</h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info action-submit" data-action=""
                        data-loading-text="<i class='glyphicon glyphicon-refresh'></i> Processing">
                    <span>Zapisz</span>
                </button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>