{% extends 'MKAppBundle::content.html.twig' %}

{% block content %}
    <div class="row home-categories">
        <div class="col-md-4">
            <h3>
                Dom
                <button type="button" class="btn btn-default pull-right btn-xs add-new-task"
                        data-loading-text="<i class='glyphicon glyphicon-refresh'></i> Processing"
                        data-action="{{ url('new_task') }}" data-category="5">
                    Dodaj nowe zadanie
                </button>
            </h3>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-success">
                    Dapibus ac facilisis in
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>

                <a href="#" class="list-group-item list-group-item-success">
                    Dapibus ac facilisis in
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>

                <a href="#" class="list-group-item list-group-item-success">
                    Dapibus ac facilisis in
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>

                <a href="#" class="list-group-item list-group-item-success">
                    Dapibus ac facilisis in
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>

                <a href="#" class="list-group-item list-group-item-success active">
                    <strong>
                        Zobacz więcej zadań
                    </strong>
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <h3>
                Praca
                <button type="button" class="btn btn-default pull-right btn-xs">Dodaj nowe zadanie</button>
            </h3>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-info">
                    Dapibus ac facilisis in
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>

                <a href="#" class="list-group-item list-group-item-info">
                    Dapibus ac facilisis in
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>

                <a href="#" class="list-group-item list-group-item-info">
                    Dapibus ac facilisis in
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>

                <a href="#" class="list-group-item list-group-item-info">
                    Dapibus ac facilisis in
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>

                <a href="#" class="list-group-item list-group-item-info">
                    Dapibus ac facilisis in
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <h3>
                Zakupy
                <button type="button" class="btn btn-default pull-right btn-xs">Dodaj nowe zadanie</button>
            </h3>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-warning">
                    Dapibus ac facilisis in
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>

                <a href="#" class="list-group-item list-group-item-warning">
                    Dapibus ac facilisis in
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>

                <a href="#" class="list-group-item list-group-item-warning">
                    Dapibus ac facilisis in
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>

                <a href="#" class="list-group-item list-group-item-warning">
                    Dapibus ac facilisis in
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>

                <a href="#" class="list-group-item list-group-item-warning active">
                    <strong>
                        Zobacz więcej zadań
                    </strong>
                    <span class="glyphicon glyphicon-chevron-right pull-right"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="row home-categories match-my-cols">
        <div class="col-md-4">
            <h3>
                Moje projekty
                <button type="button" class="btn btn-default pull-right btn-xs">Dodaj nowe zadanie</button>
            </h3>
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-danger">
                    Dapibus ac facilisis in
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>

                <a href="#" class="list-group-item list-group-item-danger">
                    Dapibus ac facilisis in
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>

                <a href="#" class="list-group-item list-group-item-danger">
                    Dapibus ac facilisis in
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>

                <a href="#" class="list-group-item list-group-item-danger">
                    Dapibus ac facilisis in
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>

                <a href="#" class="list-group-item list-group-item-danger">
                    Dapibus ac facilisis in
                    <span class="glyphicon glyphicon-pencil pull-right"></span>
                    <span class="glyphicon glyphicon-ok pull-right"></span>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <h3>
                &nbsp;
            </h3>
            <div class="home-add-category text-center">
                <button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    Dodaj nową kategorię
                </button>
            </div>
        </div>
    </div>


    <!-- Modal -->
    <div id="addNewTask" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Dodaj nowe zadanie</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info">Dodaj</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>


{% endblock %}