{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}

    <div class="container">
        <div class="row margin-top">
            <div class="col-sm-12">
                <div class="alert alert-success" role="alert">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    {{ 'fos.confirmed.success'|trans }}
                    <a class="btn btn-success" href="{{ path('homepage') }}"> {{ 'fos.homepage'|trans }} </a>
                </div>
            </div>
        </div>
    </div>

{% endblock fos_user_content %}
