{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}
    <p>
        TODO: Added successfully.
    </p>
    <a href="{{ path('homepage') }}"> Home </a>
{% endblock fos_user_content %}
