{% extends 'MKAppBundle::content.html.twig' %}

{% block content %}
    <div class="row user-profile-wrapper bg-white">
        <div class="col-sm-12">
           <p>
               About page
           </p>
        </div>
    </div>
{% endblock %}

